# Python
__pycache__/
*.pyc

# Ambiente Virtual
venv/
.venv/

# PyQt/PyInstaller
*.exe
build/
dist/

# IDE/VS Code
.vscode/
venv/Lib/site-packages/__pycache__/peewee.cpython-312.pyc
/venv
/venv
/venv/Lib
/venv
/venv/Lib/site-packages/__pycache__
/venv
/venv
/venv
